@import "tailwindcss";

@layer base {
  :root {
    --bg-primary: #002561;
    --text-primary: #131b33;
    --text-secondary: #98a2b3;
    --text-tertiary: #009fe3;
  }

  .bgPrimary {
    background-color: var(--bg-primary);
  }

  .textPrimary {
    color: var(--text-primary);
  }

  .textSecondary {
    color: var(--text-secondary);
  }

  .textTertiary {
    color: var(--text-tertiary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Euclid Circular A", sans-serif;
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}

/* react paginate styling */
.paginationContainer {
  @apply w-fit text-xs lg:text-sm font-medium text-[#98a2b3] flex items-center justify-center;
}

.paginationActive {
  @apply bg-[#002561] rounded-full text-white;
}

.eachElem {
  @apply py-1 px-2 lg:px-3 cursor-pointer;
}

.prevBtnClass {
  @apply text-[#98a2b3] px-2 cursor-pointer;
}

.nexBtnClass {
  @apply text-[#98a2b3] px-2 cursor-pointer;
}
